Source: bunsen-welcome
Section: misc
Priority: extra
Maintainer: John Crawley <john@rafflesnagoya.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-welcome
Vcs-Git: https://github.com/BunsenLabs/bunsen-welcome.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-welcome

Package: bunsen-welcome
Architecture: all
Depends: ${misc:Depends}, bunsen-common, xterm | x-terminal-emulator
Description: BunsenLabs welcome script.
 Post installation script for BunsenLabs Linux,
 to install some optional extra packages.

Package: bunsen-meta-printer-support
Architecture: all
Depends: 
 ${misc:Depends}, cups, cups-pdf, system-config-printer, printer-driver-hpijs, hplip
Description: BunsenLabs printer support meta package
 Installs various printer packages to enable printer support.

Package: bunsen-meta-java
Architecture: all
Depends: ${misc:Depends}, openjdk-7-jre, icedtea-7-plugin
Description: BunsenLabs java meta package
 Installs various java packages.

Package: bunsen-meta-libreoffice
Architecture: all
Depends: ${misc:Depends}, libreoffice, libreoffice-gtk
Description: BunsenLabs libreoffice meta package
 Installs libreoffice and associated gtk theme.

Package: bunsen-meta-vcs
Architecture: all
Depends:
 ${misc:Depends},
 git,
 git-gui,
 git-cvs,
 git-svn,
 git-email,
 mercurial,
 subversion,
 subversion-tools,
 bzr,
 bzrtools,
 cvs
Description: BunsenLabs version control meta package
 Installs various version control tools.

Package: bunsen-meta-ssh
Architecture: all
Depends: ${misc:Depends}, openssh-server, openssh-client
Description: BunsenLabs ssh meta package
 Installs ssh server and various ssh tools.

Package: bunsen-meta-lamp
Architecture: all
Depends:
 ${misc:Depends},
 apache2,
 mysql-server,
 php5,
 php-pear,
 php5-gd,
 php5-mysql,
 php5-imagick,
 php5-curl,
 curl,
 phpmyadmin,
 rsync,
 cronolog
Description: BunsenLabs lamp meta package
 Installs various web server tools.

Package: bunsen-meta-packaging
Architecture: all
Depends:
 ${misc:Depends},
 build-essential,
 debhelper,
 cdbs,
 dh-make,
 diffutils,
 patch,
 gnupg,
 fakeroot,
 lintian,
 devscripts,
 pbuilder,
 dpatch,
 dput,
 quilt
Description: BunsenLabs packaging meta package
 Installs various Debian packaging tools.
