Source: bunsen-welcome
Section: misc
Priority: optional
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper-compat (= 12), help2man
Standards-Version: 4.5.1
Homepage: https://github.com/BunsenLabs/bunsen-welcome
Vcs-Git: https://github.com/BunsenLabs/bunsen-welcome.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-welcome

Package: bunsen-welcome
Section: misc
Architecture: all
Depends: ${misc:Depends}, bunsen-common (>= 10.0.1-1), xterm | x-terminal-emulator, laptop-detect
Description: BunsenLabs welcome script
 Post installation script for BunsenLabs Linux,
 to install some optional extra packages.

Package: bunsen-meta-bluetooth
Section: metapackages
Architecture: all
Depends:
 ${misc:Depends},
 bluez,
 blueman,
 pulseaudio-module-bluetooth,
 bluez-cups,
 bluez-obexd,
 bluez-tools
Description: BunsenLabs bluetooth meta package
 Installs various bluetooth support packages.

Package: bunsen-meta-java
Section: metapackages
Architecture: all
Depends: ${misc:Depends}, default-jre
Description: BunsenLabs java meta package
 Installs various java packages.

Package: bunsen-meta-lamp
Section: metapackages
Architecture: all
Depends:
 ${misc:Depends},
 apache2,
 apache2-utils,
 default-mysql-server,
 php,
 php-pear,
 php-gd,
 php-mysql,
 php-imagick,
 php-curl,
 curl,
 rsync,
 cronolog
Description: BunsenLabs lamp meta package
 Installs various web server tools.

Package: bunsen-meta-libreoffice
Section: metapackages
Architecture: all
Depends: ${misc:Depends}, libreoffice, libreoffice-gtk3, libreoffice-gnome
Description: BunsenLabs libreoffice meta package
 Installs libreoffice and associated gtk theme.

Package: bunsen-meta-packaging
Section: metapackages
Architecture: all
Depends:
 ${misc:Depends},
 build-essential,
 debhelper,
 cdbs,
 dh-make,
 diffutils,
 patch,
 gnupg,
 fakeroot,
 lintian,
 devscripts,
 pbuilder,
 dput,
 quilt
Description: BunsenLabs packaging meta package
 Installs various Debian packaging tools.

Package: bunsen-meta-printer-support
Section: metapackages
Architecture: all
Depends:
 ${misc:Depends},
 cups,
 cups-browsed (>= 1.21.6-5),
 system-config-printer
Recommends: printer-driver-all, hplip
Description: BunsenLabs printer support meta package
 Installs various printer packages to enable printer support.
 Also configures cups-browsed for IPP printers.

Package: bunsen-meta-ssh
Section: metapackages
Architecture: all
Depends: ${misc:Depends}, openssh-server, openssh-client
Description: BunsenLabs ssh meta package
 Installs ssh server and various ssh tools.

Package: bunsen-meta-vcs
Section: metapackages
Architecture: all
Depends:
 ${misc:Depends},
 git,
 git-gui,
 git-cvs,
 git-svn,
 git-email,
 mercurial,
 subversion,
 subversion-tools,
 bzr,
 bzrtools,
 cvs
Description: BunsenLabs version control meta package
 Installs various version control tools.
